@model ContasViewModel
<link rel="stylesheet" href="~/css/Home.css">


<button id="btnNovo" type="button" class="d-flex btn btn-success btn-sm justify-content-start" data-toggle="modal" data-target="#modalExemplo">
    NOVA +
</button>

<div class="row justify-content-end">
    <div id="inputBusca" class="input-group">
        <input id="Inpt" class="form-control  align-content-end" placeholder="Buscar..">
    </div>
</div>

<div class="dropdown" id="drop">    
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Selecione
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="1">Janeiro</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="2">Fevereiro</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="3">Março</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="4">Abril</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="5">Maio</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="6">Junho</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="7">Julho</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="8">Agosto</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="9">Setembro</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="10">Outubro</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="11">Novembro</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-mes="12">Dezembro</a>
    </div>
    <label>Filtrar Por Mes</label>
</div>

<table id="teste" class="table table-bordered table-condensed">
    <thead class="thead-dark">
        <tr>           
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Situação</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody id="Itens">
        @foreach (var item in Model.Contas)
        {
         <partial name="_ContasPartialView" for="@item"/>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h5 class="modal-title">Cadastrar Nova conta</h5>
            <div class="modal-body" id="ModalCad">
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="descri" class="form-control" placeholder="Descrição" >
                                </div>
                                <div class="col">
                                    <input type="text" id="valor" class="form-control" placeholder="Valor" >
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input id="data" class="form-control input-md" type="date" maxlength="8" pattern="[0-9]+$">
                                </div>
                                <div class="col-md-3 ">
                                    <select id="situa" class="form-select ">
                                        <option selected>Selecione</option>
                                        <option value="Pago">Pago</option>
                                        <option value="A vencer">A vencer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="ModalCadFooter">
                <button type="Submit" class="btn btn-success" id="Salvar">Cadastrar</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h5 class="modal-title">Editar Conta</h5>
            <div class="modal-body" id="ModalCad">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="descri" class="form-control" placeholder="Descrição">
                                </div>
                                <div class="col">
                                    <input type="text" id="valor" class="form-control" placeholder="Valor">
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input id="data" class="form-control input-md" type="date" maxlength="8" pattern="[0-9]+$">
                                </div>
                                <div class="col-md-3 ">
                                    <select id="situa" class="form-select ">
                                        <option selected>Selecione</option>
                                        <option value="Pago">Pago</option>
                                        <option value="A vencer">A vencer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="ModalCadFooter">
                <button type="Submit" class="btn btn-success" id="Salvar">Cadastrar</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<script src="~/js/site.js" asp-append-version="true"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#teste').DataTable();
        });

        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });

        $('#teste').DataTable({
            ordering: true
        });

        $(document).ready(function () {
            $('#example').dataTable({ "bFilter": false });
        });

        $('#modalExemplo').on('shown.bs.modal', function () {
            $('#meuInput').trigger('focus')
        });

        $('#modalEdit').on('shown.bs.modal', function () {
            $('#meuInput').trigger('focus')
        });


    </script>

    <script>
        $(function () {
            $('#Salvar').click(function () {
                $.ajax(
                    {
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "Home/Add",
                        data: JSON.stringify({
                            Descricao: $("#descri").val(),
                            Valor: $("#valor").val(),
                            Vencimento: $("#data").val(),
                            Situacao: $("#situa option:selected").val()
                        }),

                        success: function (msg) {                                                      
                            $("#modalExemplo").modal('hide'),
                                $("#close").trigger('click'),                                
                                Update()
                        },
                        error: function () {

                        }
                    });
            });
        });

        $(function () {
            $('#editar').click(function () {
                $.ajax(
                    {
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "Home/getconta",
                        data: JSON.stringify({
                            Id: $("#editar").val()
                        }),
                        success: function (msg){

                            //GetCokie();
                            alert("teste")
                               
                        },
                        error: function () {

                        }
                    });
            });
        });

          $(function () {
            $('#delete').click(function () {
                $.ajax(
                    {
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "Home/DeletarConta",
                        data: JSON.stringify({
                            Id: $("#delete").val()
                        }),
                        success: function (msg){                            
                            Update()                               
                        },
                        error: function () {

                        }
                    });
            })
        });
        function Update(){
            location.reload(true);
        };

    </script>
}



