@model ContasViewModel
@{
    ViewData["Title"] = "Cadastro de Contas";
}
<link rel="stylesheet" href="~/css/Privace.css">


<div class="Busca">
    <div class="dropdown" id="drop">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione o tipo do relatorio
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="#" class="dropdown-item">Por periodo</a>
            <a href="#" class="dropdown-item">Em atraso</a>
            <a href="#" class="dropdown-item">Relatorio de exclusão</a>
        </div>
    </div>
    <p>De:</p>

    <div class="col-lg-2">
        <input id="data" class="form-control input-md" type="date" maxlength="8" pattern="[0-9]+$">
    </div>

    <p>Até:</p>

    <div class="col-lg-2">
        <input id="data" class="form-control input-md" type="date" maxlength="8" pattern="[0-9]+$">
    </div>

    <button type="button" class="btn btn-primary ">Buscar </button>
    <br />
</div>


<table class="table" id="Relatorio">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Data exclusão</th>
        </tr>
    </thead>
    <tbody id="itensRelatorio">
        @foreach (var item in Model.Contas)
        {
            <partial name="_relatoriosPartialView" for="@item" />
        }
    </tbody>
</table>


