body {
    /*background-image: url('../Imagens/noite-na-paisagem-do-mar-com-o-luar-paisagem-noturna-de-fantasia_104785-1055.webp');*/
}

.row {
    font-family: 'Comic Sans MS';
}

#descricoes {
}

.site-footer, .page-wrap:after {
    height: 50px;
    width: 100%;
    background-color: #3e4147;
}

.site-footer {
    background-color: #3e4147;
    position: absolute;
    bottom: 0;
}

#footer-text {
    color: azure;
    display: flex;
    bottom: 0;
    position: absolute;
    width: 100%
}

.divfooter {
    width: 100px;
    height: 100px;
}

#inputBusca {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 300px;
    padding-bottom: 10px;
}

#Inpt {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 200px;
    padding-bottom: 10px;
    border: 0;
    background-color: #3e4147;
    border-bottom: 2px solid #007bff;
    color: white;
}

#teste {
    background-color: #3e4147;
    border-block-color: #3e4147;
    border: none;
    border-top-left-radius: 25px;

}

#Itens td {
    border-block-color: #3e4147;
    border: none;
    color: white;
}

.page-item a {
    border-block-color: #3e4147;
    gap: 1px;
}

#pageIten {
    color: red;
}


#navbarHome {
    background-color: #3e4147;
   
 
}

    #navbarHome a {
        color: wheat;
    }

#btnNovo {
    justify-content: flex-start;
   margin-bottom: 1rem;
    
    
}

#ModalCad {
    background-color: #3e4147;
}

#modalExemplo h5 {
    background-color: #3e4147;
    color: white;
    padding: 20px;
}

#modalExemplo {
    box-shadow: 5px 5px 5px;
}

#ModalCad input {
    border: 0;
    background-color: #3e4147;
    border-bottom: 2px solid #007bff;
    color: white;
}

    #ModalCad input::placeholder {
        color: white;
    }

#ModalCad select {
    border: 0;
    background-color: #3e4147;
    border-bottom: 2px solid #007bff;
    color: white;
}

#ModalCadFooter {
    border: 0;
    background-color: #3e4147;
   
}

#teste_previous {
    border: 1px solid #3e4147;
    background-color: #007bff;
    border-radius: 8px;
    padding: 5px;
    color: white;
    
    text-decoration: none;
    cursor: pointer;
    margin-right: 3px;
   
}

#teste_next {
    background-color: #007bff;
    border-radius: 8px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white; 
    text-decoration: none;
    cursor: pointer;
    margin-left: .5rem;
    
}

#teste_paginate {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}  

        #teste_paginate span a {
            background-color: #3e4147;
            color: white;
            text-decoration: none;
            cursor: pointer;
            background-color: #3e4147;
            border-radius: 5px;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            color: white;           
            text-decoration: none;
            cursor: pointer;
            margin-left: 2px;
            box-shadow: 1px 1px 1px black;
        }


#teste_length, #teste_info {
    display: none;
}
.dropdown label{
    color:white;
}
.dropdown{
   
}
#drop a {
    color: black;
    
}

#Details {
    text-decoration: none;
    color: white;
    background-color: #6c757d;
    padding-bottom: 7px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

#delete {
    text-decoration: none;
    color: white;
    background-color: #dc3545;
    padding-bottom: 7px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
